.mylogo{
	width:30%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.mylogo2{
	width: 80%;
}
.mylogo3{
	width: 85%;
}
body{
	background-color:lightsteelblue;
}
h1{
	background-color:lightcyan;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
p{
	font-weight: bold;
	border:double;
	background-color: lightcyan;
	font-size: 15pt;
	text-align: center;
}
p2{
	font-weight: bold;
	border:double;
	background-color: lightcyan;
	font-size: 15pt;
	text-align: center;
}
.card{
	background-color:lightsteelblue;
}